.container{
    max-width: 75%;
}

.post-container {
    max-width: 75%;
    float: left;
}

body {
  background: #f7f7f7;
  color: #333333;
  /* margin-top: 5rem; */
}

/* h1, h2, h3, h4, h5, h6 {
  color: #444444;
} */

h3 {
  font-weight: bold;
}

.site-header {
  margin-bottom: 5rem;
}

.bg-steel {
  background-color: #ffffff;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-item {
  font-size: 20px;
  font-family: 'EB Garamond', serif;
  font-weight: 550;
}

#webname {
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 32px;
  font-weight: bold;
}

#sub-webname {
  font-family: 'Cormorant Garamond', serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
}

.home-sec2 {
  height: 400px;
  background-color: black;
}

.footer {
    padding-top: 20px;
    background-color: white;
}

#bottom-hr {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

#bottom-logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 48px;
  color: black;
  font-weight: bold;
  text-align: right;
}

#sidebar-name {
  font-family: 'PT Serif', serif;
  font-size: 18px;
  font-weight: bold;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: 1px solid #dddddd;
  border-radius: 50%;
  margin-top: 10px;
}

.left-author {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}

.author-tags {
  font-family: 'EB Garamond', serif;
  font-style: oblique;
  font-size: 14px;
  white-space: pre-line;
  margin-bottom: 0.50rem;
  text-align: center;
}

.location {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  text-align: center;
}

.contact-icons {
  text-align: center;
}

..contact-icon {
  right-padding: 20px;
}

.contact-icon:hover {
  text-decoration: none;
}

.left-summary-statistics {
  text-align: center;
}

.left-statistics-name {
  font-family: 'Cinzel', serif;
  font-size: 14px;
  font-weight: bold;
}

.left-statistics-number {
  font-family: 'Cinzel', serif;
  font-size: 22px;
  color: black;
}

.number-hover:hover {
  text-decoration: none;
  color: #928f8f;
}

.cat-a {
  color: #928f8f;
  font-size: 16px;
  font-family: 'PT Serif', serif;
}

.cat-a:hover{
  color: black;
  text-decoration: none;
}

.navbar-brand {
  padding: 0 0 0 0;
}

.site-header .navbar-nav .nav-link {
  color: black;
  font-weight: bold;
}

.site-header .navbar-nav .nav-link:hover {
  color: #cbd5db;
}

.navbar-toggler{
  background-color: black;
}

/* .site-header .navbar-nav .nav-link.active {
  font-weight: 500;
} */

.content-section {
  background: #ffffff;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 10px;
}

.home-posts {
  /* margin-top: 20px; */
  width: 100%;
}

.article-title {
  color: #444444;
  font-size: 24px;
  font-family: 'PT Serif', serif;
  font-weight: bold;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.author {
  font-family: 'PT Serif', serif;
}

.article-content {
  white-space: pre-line;
  font-family: 'PT Serif', serif;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  /* margin-bottom: 4px; */
  /* border-bottom: 1px solid #e3e3e3 */
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

/* scrolling picture in the home page*/

#focus {
  width: 1110px;
  height: 350px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}

#focus ul {
  position: relative;
  margin: 0;
  padding: 0;
}

#focus ul li{
  float: left;
  width: 1110px;
  height: 350px;
  overflow: hidden;
  position: relative;
  background:#000;
}

#focus ul li div{
  position: absolute;
  overflow: hidden;
}

#focus .btn{
  position: absolute;
  width: 180px;
  height: 30px;
  bottom: 90px;
  padding: 5px 10px;
  margin-right: 10px;
  right: 10px;
  text-align: right;
}

#focus .btn span{
  display: inline-block;
  width: 20px;
  height: 5px;
  margin-left: 10px;
  background:rgb(0, 0, 0);
}

#focus .preNext{
  width: 45px;
  height: 100px;
  position: absolute;
  top: 90px;
  background: url('images/sprite.png') no-repeat 0 0;
}

#focus .pre{
  left: 0;
}

#focus .next{
  right: 0;
  background-position: right top;
}

#focus ul li .slideother{
  position: absolute;
  left: 15px;
  top: 280px;
  width: 720px;
  height: 80px; 
  display: inline-block;
}

#focus ul li .slideother .h12{
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  color:#FFF;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;

}

#focus ul li .slideother a{
  position: absolute;
  top: 35px;
  color:#8B8B8B;
  text-decoration: none;
}

.bottom-title {
  font-weight: bold;
  font-size: 22px;
  color: black;
  font-family: 'EB Garamond', serif;
}

.bottom-a {
  font-weight: bold;
  font-size: 16px;
  color: #575757;
  font-family: 'EB Garamond', serif;
}

.bottom-a:hover {
  color: #7a7a7a;
  text-decoration: none;
}

.aboutme-title {
  color: #7a7a7a;
  font-size: 32px;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

.aboutme-content {
  color: #7a7a7a;
  /* font-size: 18px; */
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}

.media-body {
  font-family: 'PT Serif', serif;
}

.button {
  font-family: 'EB Garamond', serif;
  font-weight: bold;
  color: #000;
}

/* pygments highlight */
.highlight {
  border: 1px solid #cfcfcf;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  background: #f7f7f7;
  line-height: 1.21429em;
  margin-bottom: 10px;
}

.is-size-7{
    font-weight: bold;
    font-family: 'EB Garamond', serif;
}