{% extends "layout.html" %}
{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <p class = "aboutme-title">About Me</p>
            <p class = "aboutme-content">
                Machine Learning Engineer at Spotify; M.A. in Statistics at Columbia University; Machine Learning Engineer; Data Scientist; Quantitative Analyst;

                SKILLS:
                ▪️ Programming: Python (5-year+), SQL (4-year+); R, MATLAB, Java, C/C++; JavaScript, HTML, CSS
                ▪️ Data & Modeling Tools: Pandas, NumPy, Numba, Dask, PySpark; Sklearn, PyTorch, TensorFlow, Transformers, Spacy, Gensim, CoreNLP, LightFM; SciPy, Optuna, CVXPY, Ray;
                ▪️ Web development & Engineering Tools: Django, Flask; Docker; Plotly, Dash; Tabula, BeautifulSoup, Selenium;
                ▪️ Big Data & Cloud: HDFS, Hive, Spark; AWS (EC2, S3, RDS, DynamoDB, Lambda, Sagemaker, Elastic Beanstalk);
                ▪️ Database; SQL Server, MongoDB, Neo4j;
                
                Personal: quanyuan821@gmail.com
            </p>
        </div>
    </div>
</main>
    
{% endblock content %}
