{% extends "layout.html" %}
{% block content %}

<main role="main" class="container">
  <div class="row">

    <div class="col-md-12">
      <div id="focus">
        <ul>
          {% for post in tag_posts %}
            <li>
              <img class = "home-image" src="{{ url_for('static', filename='images/home/' + post.id|string + '.jpg') }}" />
              <div class= "slideother">
                <div class="h12">{{ post.title }}</div>
                <a href="{{ url_for('post', post_id=post.id) }}" class = "article-content">Read more ...</a>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="col-md-8">
      <div class = 'home-posts'>
        {% for post in posts %}
        <article class="media content-section">
          <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> -->
          <div class="media-body">

            <div class="article-metadata">
              <a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
            </div>

            <div class="article-metadata">
              <p class="author" href="#">
                Written by <b>{{ post.author.username }}</b> on <b>{{ post.date_posted.strftime('%Y-%m-%d') }}</b>
                &nbsp;
                <small class="text-muted">{{ post.tag }}</small>
                {% if post.tag2 %}
                <small class="text-muted">{{ post.tag2 }} </small>
                {% endif  %}
                {% if post.tag3 %}
                <small class="text-muted">{{ post.tag3 }}</small>
                {% endif  %}
              </p>
            </div>
            
            <!-- <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2> -->
            {% if post.content_type == 'plain' %}
            <p class="article-content">{{ post.content | safe | striptags | truncate(400) }}</p>
            {% elif post.content_type == 'html' %}
            <p class="article-content">{{ post.content | safe | striptags | truncate(400) }}</p>
            {% elif post.content_type == 'markdown' %}
            <p class="article-content">{{ post.content | markdown | striptags | truncate(400) }}</p>
            {% endif  %}
          </div>
        </article>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4" id = 'sidebar'>
      <div class="content-section">
        <p id = "sidebar-name">Categories</p>
        <ul class="list-group">
        {% for tag in unique_tags %}
            <a href="{{ url_for('tag_page', tags = tag) }}" class = 'cat-a'>{{ tag }}</a>
        {% endfor %}
        </ul>
        <hr>
        <p id = "sidebar-name">Recent Posts</p>
        <ul class="list-group">
        {% for post in recent_posts %}
          <a class="cat-a" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
        {% endfor %}
        </ul>
      </div>
    </div>

  </div>
</main>

{% endblock content %}
