<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=PT+Serif&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=PT+Sans+Narrow:wght@700&family=PT+Serif&family=Playfair+Display:wght@500&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='colorful.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='notebook.css') }}">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {% if title %}
        <title>Quansfolio - {{ title }}</title>
    {% else %}
        <title>Quansfolio</title>
    {% endif %}
    
    {{ simplemde.css }}
    {{ simplemde.js }}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/" id = "webname">Quansfolio</a>
          <h12 id = "sub-webname">Data Science Blog</h12>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Left Side -->
            <div class="navbar-nav mr-auto"></div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a id="home" class="nav-item nav-link" href="/">Home</a>
                <a id="about" class="nav-item nav-link" href="{{ url_for('about') }}">Curriculum</a>
                <a id="home" class="nav-item nav-link" href="{{ url_for('posts') }}">Posts</a>
                <a id="home" class="nav-item nav-link" href="/">Projects</a>
                <a id="home" class="nav-item nav-link" href="/">Life</a>
                <a id="home" class="nav-item nav-link" href="/">Tags</a>
                <a id="home" class="nav-item nav-link" href="/">Categories</a>
                <a id="home" class="nav-item nav-link" href="/">FAQs</a>
                <a id="new-post" class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a id="account" class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a id="logout" class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a id="home" class="nav-item nav-link" href="/">Home</a>
                <a id="about" class="nav-item nav-link" href="{{ url_for('about') }}">Curriculum</a>
                <a id="home" class="nav-item nav-link" href="{{ url_for('posts') }}">Posts</a>
                <a id="home" class="nav-item nav-link" href="/">Projects</a>
                <a id="home" class="nav-item nav-link" href="/">Life</a>
                <a id="home" class="nav-item nav-link" href="/">Tags</a>
                <a id="home" class="nav-item nav-link" href="/">Categories</a>
                <a id="home" class="nav-item nav-link" href="/">FAQs</a>
                <a id="login" class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <!-- <main role="main" class="container">
      <div class="row"> -->
          {% block content %}
          {% endblock %}
      <!-- </div> -->
    <!-- </main> -->

    <hr id = "bottom-hr">
    <footer class="footer">
        <div id="bottom-sec" class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="footer-logo is-block mb-2"><img src="{{ url_for('static', filename='images/logo.png') }}" width=20%></a>
                    <p class="is-size-7"><span>©2022 Quansfolio</span></p>
                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-9"><p class = "bottom-title">Site Map</p></div>
                        <div class="col-md-3"><p class = "bottom-title">Contact</p></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-house-user"></i> Home</a></p>
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-file"></i>  Curriculum</a></p>
                          <p><a class = "bottom-a" href="{{ url_for('posts') }}"><i class="fa-solid fa-blog"></i> Posts</a></p>
                        </div>
                        <div class="col-md-3">
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-bars-progress"></i> Project</a></p>
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-tags"></i> Tags</a></p>
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-layer-group"></i> Categories</a></p>
                        </div>
                        <div class="col-md-3">
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-umbrella-beach"></i> Life</a></p>
                          <p><a class = "bottom-a" href = "/"><i class="fa-solid fa-circle-question"></i> FAQs</a></p>
                        </div>
                        <div class="col-md-3">
                          <p>
                              <a class="level-item button is-transparent is-marginless contact-icon bottom-a" href="https://github.com/qy2205" rel="noopener" target="_blank" title="Github"><i class="fab fa-github"></i> Github</a>
                          </p>
                          <p>
                              <a class="level-item button is-transparent is-marginless contact-icon bottom-a" href="https://www.linkedin.com/in/qy2205/" rel="noopener" target="_blank" title="LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a>
                          </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style = "text-align:right;">
                  <a class="navbar-brand mr-4" href="/" id = "bottom-logo">Quansfolio</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!-- For Slides in the Home Page  -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/slides.js') }}" ></script>

    <!-- mathjax -->
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script src="https://kit.fontawesome.com/fe23688026.js" crossorigin="anonymous"></script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']]
        },
        svg: {
          fontCache: 'global'
        }
      };
    </script>

</body>
</html>
