{% extends "layout.html" %}
{% block content %}

<main role="main" class="container">
  <div class="row">
      <div class="col-md-12">
        
        <form method="GET" action="">
            <div class="input-group mb-3">
              <div class="input-group mb-3">
                  <input type="text" name="keyword" id="keyword" class="form-control" placeholder="Search keywords" aria-label="Search keywords" aria-describedby="button-addon2">
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
                </div>
            </div>
        </form>

        {% for post in tag_posts %}
          <article class="media content-section">
            <!-- <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"> -->
            <div class="media-body">

              <div class="article-metadata">
                <a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a>
              </div>

              <div class="article-metadata">
                <p class="author" href="#">
                  Written by <b>{{ post.author.username }}</b> on <b>{{ post.date_posted.strftime('%Y-%m-%d') }}</b>
                  &nbsp;
                  <small class="text-muted">{{ post.tag }}</small>
                  {% if post.tag2 %}
                  <small class="text-muted">{{ post.tag2 }} </small>
                  {% endif  %}
                  {% if post.tag3 %}
                  <small class="text-muted">{{ post.tag3 }}</small>
                  {% endif  %}
                </p>
              </div>
              
              <!-- <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2> -->
              {% if post.content_type == 'plain' %}
              <p class="article-content">{{ post.content | safe | striptags | truncate(400) }}</p>
              {% elif post.content_type == 'html' %}
              <p class="article-content">{{ post.content | safe | striptags | truncate(400) }}</p>
              {% elif post.content_type == 'markdown' %}
              <p class="article-content">{{ post.content | markdown | striptags | truncate(400) }}</p>
              {% endif  %}
            </div>
          </article>
        {% endfor %}
      
  </div>
</main>  
{% endblock content %}
